/* File: public_html/project/styles.css */
/* Update the below for Milestone 1 requirements */
nav li {
    display: inline;
    background-color: rgb(75, 103, 246);
}

nav li a {
    color: rgb(242, 242, 242);
    padding: .25rem;
}

nav li a:hover {
    color: pink;
}

nav::after {
    text-align: center;
    content: "(*Edit the hideous css)";
    color: red;
}

label {
    border: #fdfeff dashed 2px;
    background-color: bisque;
}

input {
    border-radius: 25%;
    padding: .25rem;
}

input:hover {
    transform: rotateZ(10deg);
}

form,
h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

input[type="submit"]:hover {
    transform: scale(1.15);
}

input[type="submit"]:active {
    transform: scale(.75);
}
